@font-face {
    font-family: 'jost';
    src: url('fonts/jost/Jost.ttf');
}
*{
    border: 1px solid red;
    font-family: 'jost';
}
button{
    border: 0;
    padding: 0;
    cursor: pointer;
}
section{
    width: 1440px;
    display: flex;
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
header{
    width: 100%;
    max-width: 1440px;
    height: 114px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#header_padding{
    margin: 0 60px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.part_of_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#central_link{
    width: 137px;
    height: 74px;
    background-image: url('assets/IMAGE.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#nav_of_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#nav_of_header span{
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px;
    cursor: pointer;
}
#button_buy_now{
    width: 168px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 18px;
}
.part_of_header-button{
    background-color: #00000000;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#section_1{
    flex-direction: row;
    margin-top: 50px;
}
#left_of_section_1{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 660px;
    height: 749px;
    margin-bottom: 116px;
}
#Design_addicted{
    margin: 0 2px;
    margin-top: 116px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #E2B013;
    color: white;
}
.section-span{
    font-weight: 400;
    margin-top: 40px;
}
#section_1-img{
    position: relative;
    top: -50px;
}
#section_2{
    flex-direction: row;
    height: 635px;
}
.wrapper{
    margin: 0 auto;
    width: calc(100% - 120px);
    display: flex;
    flex-direction: row;
    align-items: center;
}