@font-face {
    font-family: 'jost';
    src: url('fonts/jost/Jost.ttf');
}
*{
    border: 1px solid red;
    font-family: 'jost';
    box-sizing: border-box;
}
h3{
    font-weight: 400;
}
a{
    text-decoration: none;
    color: #000;
}
main{
    display: flex;
    flex-direction: column;
}
button{
    border: 0;
    padding: 0;
    cursor: pointer;
}
section{
    width: 1320px;
    display: flex;
}
form{
    display: flex;
    flex-direction: column;
}
form div{
    display: flex;
    flex-direction: row;
    height: 40px;
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
header{
    width: 100%;
    max-width: 1320px;
    height: 114px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
#header_padding{
    margin: 0 60px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.part_of_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#central_link{
    width: 137px;
    height: 74px;
    background-image: url('assets/main\ link.svg');
    color: transparent;
}
#nav_of_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#nav_of_header ul{
    display: flex;
    flex-direction: row;
}
#nav_of_header a{
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px;
    cursor: pointer;
}
#button_buy_now{
    width: 168px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 18px;
}
.part_of_header-button{
    background-color: #00000000;
    width: 50px;
    height: 50px;
    color: transparent;
}
#section_1{
    flex-direction: row;
    margin-top: 50px;
}
#left_of_section_1{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 660px;
    height: 749px;
    margin-bottom: 116px;
}
#Design_addicted{
    margin: 0 2px;
    margin-top: 116px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #E2B013;
    color: white;
}
.section-span{
    font-weight: 400;
    margin: 0;
    margin-top: 40px;
}
#section_1-img{
    position: relative;
    top: -50px;
}
#section_2{
    padding: 0;
    align-items: center;
}
.wrapper{
    width: 1320px;
    height: 450px;
    width: calc(100% - 120px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 120px 0;
}
#wrapper-div{
    width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
#picture_1{
    width: 660px;
    background-image: url('assets/IMAGE.png');
}
#wrapper-div-div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}
.wrapper-div-div-div{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 38px;
    gap: 10px;
}
.wrapper-div-div-div-div{
    padding: 9px 0;
    padding-left: 16px;
    padding-right: 30px;
    text-align: center;
    background-color: black;
    color: white;
}
#section_3{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 100px;
}
.section_3-span{
    background-color: #000;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
}
#section_3-table{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 60px;
    gap: 78px;
}
.section_3-table-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 470px;
}
.section_3-table-cell{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 634px;
    padding: 29px;
    background-color: #0000000A;
}
.section_3-table-cell h3{
    font-size: 26px;
    font-weight: 400;
}
#section_4{
    padding-top: 100px;
    flex-direction: column;
    align-items: start;
    gap: 60px;
}
#section_4-table{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 80px;
}
.section_4-table-row{
    height: 325px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section_4-table-cell{
    width: 403px;
    background-color: #0000000A;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.section_4-table-cell span{
    font-size: 26px;
}
#section_5{
    margin-top: 100px;
    flex-direction: column;
    align-items: start;
    gap: 60px;
}
.section_4-table-row.secundus{
    height: 470px;
    gap: 0;
    justify-content: space-between;
}
.section_4-table-cell.secundus{
    width: 634px;
}
.section_4-table-cell.secundus span{
    font-size: 26px;
}
hr{
    margin: 0;
    margin-top: 100px;
    width: 100%;
    height: 1px;
    background-color: #F1F1F1;
}
footer{
    width: 1320px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 60px 0;
    gap: 60px;
}
#up_of_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
#up_of_footer-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 34px;
}
#up_of_footer-left label{
    font-size: 24px;
}
#up_of_footer-left-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#email-input{
    width: 370px;
    border: 1px solid #E2E1DF;
}
#buttons{
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 90px;
}
#up_of_footer-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}
.list_of_ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
}
.list_of_ul h4{
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 13px;
    color: #333333;
}
ul{
    font-size: 15px;
}
li::marker{
    color: transparent;
}
#down_of_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
}
.part-down_of_footer{
    display: flex;
    flex-direction: row;
    gap: 3px;
}
.part-down_of_footer span:last-child{
    color: #E2B013;
}